name: Demo Environment Secret

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'production'
        type: choice
        options:
          - production
          - staging

jobs:
  deploy-to-prod:
    runs-on: ubuntu-latest

    environment:
      name: ${{ inputs.environment }}   # THIS works
      url: https://example.com

    steps:
      - name: Print environment name
        run: echo "Environment is: ${{ inputs.environment }}"
